body{
  max-width: 1080px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 5px #ddd;
  background-color: #f4f4f4;
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.app_container{
  padding: 40px;
  padding-top: 100px;
}

.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1.0;
  background-color: white;
  height: 600px;
  width: 500px;
}

.hidden{
  display: none;
}

.buttons_bar{
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.button{
  box-shadow: 1px 1px 10px 1px #eee;
  padding: 10px 20px;
  background-color: cornflowerblue;
  color: white;
  border: none;
}

.white_button{
  background-color: white;
  box-shadow: 2px 2px 15px 5px rgba(125, 125, 125, 0.4);
  cursor: pointer;
  color: #444;
}

.tab_switch{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #e8e8e8;
  color: #888;
  padding: 5px;
  border-radius: 10px;
  height: 40px;
  width: 250px;
  line-height: 40px;
  justify-self: center;
}

.tab{
  cursor: pointer;
}

.tab_selected{
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;
  height: 40px;
}

.header{
  background-color: cornflowerblue;
  color: white;
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  line-height: 40px;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header_content{
  font-size: 30px;
  font-weight: bold;
}

.header_children{
  display: grid;
  grid-template-columns: 1fr 60px;
  column-gap: 10px;
}

.cart_button{
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
}

.cart{
  padding-top: 100px;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-rows: 1fr 80px;
}

.profile{
  justify-content: center;
}

.profile_icon{
  padding: 0px 10px;
  border-radius: 20px;
}

.profile_menu{
  grid-column: 1/span 2;
  margin-top: 10px;
  border-radius: 20px;
  border-top-right-radius: 0;
  padding: 10px;
  background-color: white;
  color: #444;
  box-shadow: 2px 2px 15px 5px rgba(125, 125, 125, 0.4);
}

.profile_menu_option{
  border-radius: 10px;
  padding: 0 30px;
  cursor: pointer;
}

.profile_menu_option:hover{
  background-color: #eee;
}

.auth_page{
  padding-top: 100px;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-rows: 1fr 80px;
}

.product_categories{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.category_card{
  height: 150px;
  width: 250px;
  align-self: center;
  justify-self: center;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px 2px #ccc;
  cursor: pointer;
}

.category_card:hover{
  box-shadow: 2px 2px 10px 4px #ccc;
}

.category_card_text{
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 16px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.close_icon{
  padding: 0 15px;
  border-radius: 20px;
  transform: rotateZ(45deg);
}

.grid_left{
  justify-self: left;
}

.grid_right{
  justify-self: right;
}

.text_size_30 {
  font-size: 30px;
}

.text_size_24 {
  font-size: 24px;
}

.dark_text{
  color: #444;
}

.light_text{
  color: white;
}
