body{
  max-width: 1080px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 5px #ddd;
  background-color: #f4f4f4;
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.app_container{
  padding: 40px;
  padding-top: 100px;
}

.hidden{
  display: none;
}

.textbox{
  height: 30px;
  border-radius: 20px;
  border-color: #444;
  font-size: 16px;
  padding: 5px 20px;
  outline: 0;
}

.button{
  box-shadow: 1px 1px 10px 1px #eee;
  padding: 10px 20px;
  background-color: cornflowerblue;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.white_button{
  background-color: white;
  box-shadow: 2px 2px 15px 5px rgba(125, 125, 125, 0.4);
  cursor: pointer;
  color: #444;
}

.add_button{
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  height: 50px;
  width: 140px;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  line-height: 50px;
  align-self: center;
}

.add_button_add{
  grid-column: 1 / span 3;
}

.add_button_decrement, .add_button_increment, .add_button_add{
  cursor: pointer;
}

.add_button_count{
  background-color: whitesmoke;
  color: #444;
}

.buttons_bar{
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  box-shadow: 0px -2px 6px -2px #ccc;
}

.tab_switch{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #e8e8e8;
  color: #888;
  padding: 5px;
  border-radius: 10px;
  height: 40px;
  width: 250px;
  line-height: 40px;
  justify-self: center;
}

.tab{
  cursor: pointer;
}

.tab_selected{
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;
  height: 40px;
}

.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1.0;
  background-color: white;
  height: 700px;
  width: 700px;
}

.header{
  background-color: cornflowerblue;
  color: white;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header_bounded{
  margin: auto;
  max-width: 1020px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  line-height: 40px;
  padding: 20px 40px;
}

.header_content{
  font-size: 30px;
  font-weight: bold;
}

.header_children{
  display: grid;
  grid-template-columns: 1fr 60px;
  column-gap: 10px;
}

.cart_button{
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
}

.cart{
  padding-top: 100px;
  height: 600px;
  width: 700px;
  display: grid;
  grid-template-rows: 80px 1fr 100px;
}

.cart_info{
  padding: 0 50px;
  margin-top: -10px;
  display: grid;
  grid-template-columns: 1fr 150px;
  height: 80px;
  align-content: center;
  box-shadow: 0px 2px 6px -2px #ccc;
}

.cart_total{
  align-self: center;
  font-size: 22px;
  font-weight: bold;
  color: #888;
}

.cart_items_list{
  overflow-y: scroll;
}

.order_venue{
  padding: 20px 50px;
}

.address_form{
  display: grid;
  grid-template-rows: 60px 1fr 1fr 1fr;
}

.address_box{
  margin-bottom: 20px;
}

.profile{
  justify-content: center;
}

.profile_icon{
  padding: 0px 10px;
  border-radius: 20px;
}

.profile_menu{
  grid-column: 1/span 2;
  margin-top: 10px;
  border-radius: 20px;
  border-top-right-radius: 0;
  padding: 10px;
  background-color: white;
  color: #444;
  box-shadow: 2px 2px 15px 5px rgba(125, 125, 125, 0.4);
}

.profile_menu_option{
  border-radius: 10px;
  padding: 0 30px;
  cursor: pointer;
}

.profile_menu_option:hover{
  background-color: #eee;
}

.auth_page{
  padding: 40px;
  padding-top: 130px;
  height: 660px;
  width: 620px;
  display: grid;
  align-items: flex-start;
  /* grid-template-rows: 1fr 120px; */
}

.auth_form{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 10px 40px;
  height: 200px;
  align-self: baseline;
}

.product_categories{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.category_card{
  height: 150px;
  width: 250px;
  align-self: center;
  justify-self: center;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px 2px #ccc;
  cursor: pointer;
}

.category_card:hover{
  box-shadow: 2px 2px 10px 4px #ccc;
}

.category_card_text{
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 16px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.category_items{
  display: grid;
  justify-content: center;
}

.product_tile{
  margin: 0 auto;
  margin-bottom: 80px;
  width: 540px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  column-gap: 60px;
}

.product_image{
  width: 120px;
  height: 100px;
  background-color: gainsboro;
}

.product_details{
  text-align: left;
  display: grid;
  grid-template-rows: 40px 20px 40px;
}

.product_title{
  font-size: 18px;
  font-weight: bold;
  align-self: center;
}

.product_unit{
  font-size: 14px;
  color: #666;
  font-weight: lighter;
  align-self: center;
}

.product_price{
  font-size: 16px;
  color: #666;
  font-weight: bold;
  align-self: center;
}

.close_icon{
  padding: 6px 13px;
  border-radius: 30px;
  transform: rotateZ(45deg);
  font-size: 32px;
  line-height: 32px;
}

.clickable{
  cursor: pointer;
}

.grid_left{
  justify-self: left;
}

.grid_right{
  justify-self: right;
}

.text_size_30 {
  font-size: 30px;
}

.text_size_24 {
  font-size: 24px;
}

.dark_text{
  color: #444;
}

.light_text{
  color: white;
}
